<div class="example-config">
  <button (click)="restoreColumns()" class="k-button">Show Hidden Columns</button>
</div>
<br>
  <kendo-grid 
[resizable]="true"
[data]="gridData"
[sortable]="{allowUnsort: true}"
[sort]="sort"
(sortChange)="sortChange($event)"
[pageSize]="pageSize"
[skip]="skip"
[pageable]="{
  info: true,
  type: numeric,
  pageSizes: true,
  previousNext: true
}"
(pageChange)="pageChange($event)"
>
  <ng-template ngFor [ngForOf]="columns" let-column>
      <kendo-grid-column
      [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em'}"
        field="{{column}}"
        [hidden]="hiddenColumns.indexOf(column) > -1"
      >
        <ng-template kendoGridHeaderTemplate let-dataItem>
            {{dataItem.field}}
            <button
              (click)="hideColumn(dataItem.field)"
              class="k-button k-primary"
              style="float: right;"
            >Hide</button>
        </ng-template>
      </kendo-grid-column>
    </ng-template>
</kendo-grid>
